* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --menu-color: #4a4a4a;
  --background-color: #3cdbc0;
  --banner-color: #ffffff;
  --font-size: 16px;
}

/*--- HEADER ---*/

.header {
  background-color: var(--banner-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

/*--- LOGO ---*/

.logo-img {
  margin-top: 10px;
  width: 155px;
}

/*--- MENU ---*/

.menu {
  padding: 10px 0 13px 0;
  display: flex;
  flex-direction: row;
}
.menu-item {
  padding: 20px 10px;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--menu-color);
}

/*--- BANNER ---*/

.banner {
  background-color: var(--background-color);
  height: 100vh;
}

.banner-text {
  font-size: 1.875rem;
  color: var(--banner-color);
  text-transform: capitalize;
  word-spacing: 100vw;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 30%;
}

@media all and (min-width: 768px) {
  .header {
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .banner-text {
    font-size: 2.5rem;
  }

  .logo-img {
    margin: 0;
  }
}
